body {
    font-family:"Times New Roman", Times, serif;
    border-top: 5px solid yellow;
    margin: 10px auto;
    font-size: 20px;
    color: blueviolet;
    font-size: 20px;
}

header {
    text-align: center;
    background-color: darkred;
    border-bottom: 10px solid yellow;
}

#logo {
    position: left;
    top: -5px;
}

#container {
    width: 1040px;
    margin: 5px auto;
    min-height: 750px;
    text-align: left;
}

input[type='text'] {
    height: 1em;
    font-size: 1em;
    width: 30%;
    padding: 5px;
}

.information, .avatar {
    vertical-align: top;
    display: inline-block;
}

.information {
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search {
    text-align: left;
    margin: 50px auto;
}

h2 {
    padding: 10px;
}

.profile {
    height: 100px;
    width: 100px;
    padding: 50px 20px 0;
    display: block;
    background-color: white;
    color: yellow;
    font-width: none;
}

.profile:hover {
    background-color: black;
}
